/* reset
* {
    margin: 0;
    padding: 0;
}
*/

body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6em;
    margin: 0;
}

.container {
    margin: auto;
    width: 80%;
}

.button {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}

.clr {
    clear: both;
}

.button:hover {
    background: black;
}

.box-1 {
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    /* Same as above */
    border: 5px red solid; 

    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* Same as above */
    padding: 20px;

    margin-top: 20px;
    margin: 20px 0;

}

.box-1 h1 {
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
}

.box-2 {
    border: 3px dotted #ccc;
    padding: 30px;
    margin: 20px 0ï¼›
}

.categories {
    border: 1px #ccc solid;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
}

.categories h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: violet;
}

a:active {
    color: greenyellow;
}

/* a:visited {
    color: blueviolet;
} */

.categories ul {
    padding-left: 20px;
    list-style: square;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url(images/check.png);
}

.my-form {
    padding: 20px;
}

.my-form .form-group {
    padding-bottom: 15px;
}

.my-form label {
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    border-radius: 15px;
    border-width: 1px;
    border-color: #fff;
    padding: 8px;
    width: 100%;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#main-block {
    float: left;
    width: 70%;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
}

.p-box h2 {
    position: absolute;
    left: 200px;
    top: 100px;
}

.p-box h3 {
    position: absolute;
    bottom: 40px;
    right: 400px;
}

.fix-me {
    position: fixed;
    top: 400px;
}